* {
    margin: 0;
    padding: 0;
 }

.second-section{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.second-section img{
    max-width: 500px;
}

article{
    max-width: 500px;
    font-family: 'Neucha', cursive;
    font-size: 25px;
    padding: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
    line-height: 32px;
    background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/notebook-dark.png");
}

.work{
padding: 30px;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
align-items: center;
}
h2{
    font-family: 'Ubuntu';
    margin-left: 100px;
}

.work img{
    max-width: 300px;
    padding: 30px;
}

.mainpic{
    max-width: 100vw;
}


.joinus{
    
}


@media (max-width: 48em){
    .second-section p{
        font-size: 18px;
    }
}